@import "../../styles/variables";
@import "~rc-slider/assets/index";
@import "~rc-tooltip/assets/bootstrap";


.image-upload {

  .step {
    margin-bottom: $scale4;
    position: relative;
  }

  .labelling {
    display: flex;
    flex-direction: column;
    margin-bottom: $scale2;

    label {
      font-size: $font-scale1;
      margin-bottom: $scale0-5;
    }

    .additional {
      font-size: $font-scale0-85;
      color: $cool-grey-6;
    }
  }

  .hackoutline {
    border: 5px solid $cool-grey-7;
    width: 206px;
    height: 206px;
    border-radius: 100%;
    position: absolute;
    top: 80px;
    left: 7px;
    pointer-events: none;
  }

  .button-group {
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      margin: 0 $scale0-5;
    }
  }

  .slider {
    >div {
      margin: $scale1-5 0 !important;
    }
  }

  .editor-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .editor {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
  }

  .slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .loading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
