@import "../../styles/variables.scss";

.basic-details-form {
  width: 50%;
  max-width: $scale32;

  .form-element {
    margin-bottom: $scale1-5;
  }


  .menu-list {
    height: $scale24;
    overflow-y: scroll;
  }
}



