@import "../../styles/variables";

.button {
  text-transform: capitalize;
  padding: $scale0-75 $scale2;
  font-family: "Proxima Nova";
  letter-spacing: 0.5px;
  font-weight: 800;
  border-radius: 8px;
  outline: none;
  cursor: pointer;





  border: 1px solid $light-blue-vivid-6;
  background-color: $light-blue-vivid-5;
  color: $cool-grey-10;
  transform: scale(1);
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.1);
    transition: all 0.2s ease;
  }
}